<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-2xl font-semibold text-gray-700 mg-4">Nova Empresa</h2>
    <hr class="border-t border-gray-300 my-4" />
    <form id="empresaForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Nome Fantasia</label>
            <input type="text" 
                   id="nomeFantasia" 
                   name="nomeFantasia" 
                   formControlName="nomeFantasia"
                   placeholder="Ex: Restaurantes, Praias, Shopping" 
                   class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                   required
                   />
            <span class="text-red-500 text-sm" *ngIf="isValidacaoCampo('nomeFantasia')">
                Campo Obrigatório
            </span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Razão Social</label>
            <input type="text" 
                   id="razaoSocial" 
                   name="razaoSocial" 
                   formControlName="razaoSocial"
                   placeholder="Ex: Restaurantes, Praias, Shopping" 
                   class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                   required
                   />
            <span class="text-red-500 text-sm" *ngIf="isValidacaoCampo('razaoSocial')">
                Campo Obrigatório
            </span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">E-mail</label>
            <input type="text" 
                   id="email" 
                   name="email" 
                   formControlName="email"
                   placeholder="Ex: empresa@email.com" 
                   class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                   required
                   />
            <span class="text-red-500 text-sm" *ngIf="isValidacaoCampo('email')">
                Campo Obrigatório
            </span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Telefone</label>
            <input type="text" 
                   id="telefone" 
                   name="telefone" 
                   formControlName="telefone"
                   placeholder="Ex: (99) 99999-9999"
                   class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                   required
                   />
            <span class="text-red-500 text-sm" *ngIf="isValidacaoCampo('telefone')">
                Campo Obrigatório
            </span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">CNPJ</label>
            <input type="text" 
                   id="cnpj" 
                   name="cnpj" 
                   formControlName="cnpj"
                   placeholder="Ex: 99.999.999/0001-99"
                   class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                   required
                   />
            <span class="text-red-500 text-sm" *ngIf="isValidacaoCampo('cnpj')">
                Campo Obrigatório
            </span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Endereço</label>
            <input type="text" 
                   id="endereco" 
                   name="endereco" 
                   formControlName="endereco"
                   placeholder="Ex: Rua 123, Bairro, Cidade, Estado" 
                   class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                   required
                   />
            <span class="text-red-500 text-sm" *ngIf="isValidacaoCampo('endereco')">
                Campo Obrigatório
            </span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Modalidade</label>
            <input type="text" 
                   id="modalidade" 
                   name="modalidade" 
                   formControlName="modalidade"
                   placeholder="Ex: Industria, Comércio, Serviços" 
                   class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                   required
                   />
            <span class="text-red-500 text-sm" *ngIf="isValidacaoCampo('modalidade')">
                Campo Obrigatório
            </span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Associação</label>
            <select type="text" 
                   id="associacaoId" 
                   name="associacaoId" 
                   formControlName="associacaoId"
                   class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                   required>
                <option [value]="" disabled selected>Selecione uma Associação</option>
                <option *ngFor="let item of associacoes" [value]="item.id">
                    {{ item.nomeFantasia }}
                </select>
            <span class="text-red-500 text-sm" *ngIf="isValidacaoCampo('modalidade')">
                Campo Obrigatório
            </span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Quantidade de Funcionários</label>
            <input type="number" 
                   id="quantidadeFuncionarios" 
                   name="quantidadeFuncionarios" 
                   formControlName="quantidadeFuncionarios"
                   placeholder="Ex: 50, 100, 200" 
                   class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
                   required
                   />
            <span class="text-red-500 text-sm" *ngIf="isValidacaoCampo('quantidadeFuncionarios')">
                Campo Obrigatório
            </span>
        </div>                                                        
        <button type="submit" class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow hover:bg-blue-700">
            Cadastrar Empresa
        </button>
    </form>
</div>


